<!DOCTYPE html>
<html>
    <body style="padding:20px"> 
        <div>
            <h1>Insira o nome da sub-categoria e a sua super categoria</h1>
            <form action="execute_insert_sub" method="post">

                <label>Nome</label>
                <input type="text" name="nome"/>

                <label>Nome Super Categoria</label>
                <input type="text" name="nome_super"/>

                <input type="submit" value="Inserir"/>
            </form>
        </div>
    </body>
</html>
